{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/constants/(.*)$",
    "^@/api/(.*)$",
    "^@/interfaces/(.*)$",
    "^@/types/(.*)$",
    "^@[./]"
  ],

  "importOrderSortSpecifiers": true
}
